body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf6fa;
    color: #333;
}


header {
    background-color: #ae57e1;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.cart img {
    width: 24px;
    margin-right: 10px;
}

nav {
    background-color: #c275ee;
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    color: #ae57e1;
}

ul {
    list-style-type: none;
    padding: 0;
}

#cartItems li {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#cartTotal {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: #ae57e1;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf6fa;
    color: #333;
}